@import "tailwindcss";

.debug-screens::before {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  background-color: rgb(0 0 0 / 0.8);
  color: white;
  border-top-right-radius: 0.25rem;
  pointer-events: none;

  @media (width < 640px) {
    content: "xs";
  }
  @media (640px <= width < 768px) {
    content: "sm";
  }
  @media (768px <= width < 1024px) {
    content: "md";
  }
  @media (1024px <= width < 1280px) {
    content: "lg";
  }
  @media (1280px <= width < 1536px) {
    content: "xl";
  }
  @media (width >= 1536px) {
    content: "2xl";
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-albra: var(--font-albra);
  --font-roboto: var(--font-roboto);
  --font-helvetica-now: var(--font-helvetica-now);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}
